node_modules

packages/backend/src/generated
packages/backend/data
packages/backend/src/contracts/generated
packages/backend/src/shared/contracts/generated
packages/backend/dist
*.logs.json

packages/common/src/contracts/generated

packages/frontend/dist
packages/frontend/src/generated
packages/frontend/src/contracts/generated

packages/render-opengraph/target

chain/cache
__generated__

.DS_Store

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions