$spacing_px: 1px;
$spacing_1: 0.25rem;
$spacing_2: 0.5rem;
$spacing_3: 0.75rem;
$spacing_4: 1rem;
$spacing_5: 1.25rem;
$spacing_6: 1.5rem;
$spacing_8: 2rem;
$spacing_10: 2.5rem;
$spacing_12: 3rem;
$spacing_16: 4rem;
$spacing_20: 5rem;
$spacing_24: 6rem;
$spacing_32: 8rem;
$spacing_40: 10rem;
$spacing_48: 12rem;
$spacing_56: 14rem;
$spacing_64: 16rem;

$max_width_none: none;
$max_width_xs: 20rem;
$max_width_sm: 24rem;
$max_width_md: 28rem;
$max_width_lg: 32rem;
$max_width_xl: 36rem;
$max_width_2xl: 42rem;
$max_width_3xl: 48rem;
$max_width_4xl: 56rem;
$max_width_5xl: 64rem;
$max_width_6xl: 76rem;
$max_width_full: 100%;